* {
  color: #fff;
  overflow: auto;
}

body {
  background: black;
}


section#bg-img {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
}

section#bg-img > img {
  image-orientation: from-image;
  object-fit: cover;
}

section#bio {
  position: absolute;
  color: #fff;
  margin: 2% 2%;
  overflow: auto;
}

#title {
  margin: 0 0 2% 0;
}

section#body {
  padding: 20px;
  background: rgba(0, 0, 0, .5);
  columns: 300px 2;
  column-rule: 1px solid lightblue;
  column-gap: 40px;
  overflow: auto;
}

section#bio h1  {
  font-size: 72px;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
}

section#bio p {
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;
  text-justify: inter-word;
  font-weight: 100;
  color: inherit;
}